<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-cyber-data-alchemist/blob/main/actividad_de_semana_2_1_python_for_data_science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IBM: PY0101EN Python for Data Science
---
> On this notebook the exercises, practices and follow up from the module 4 will be reviewed. This serves as a demonstrantion and an exercise for the Data Science Class (TC4029) of the MNA Master's degree program of the ITESM and is created by A01793023 - Jorge Luis Arroyo Chavelas. For questions, please reach out to A01793023@tec.mx

## Module 4 Working with Data in Python
---

### Notes: Reading Files with Open
We can use the open in-built function to `open` files. This function takes an argument as a string that is the path to the file we want to read  a local file. A second parameter can be passed to determine if we want to read, or read/write the file.

This instance a class with the properties, name, mode and methods like read() (all lines) or readline(n) for an specific number of characters.

Usually we refer to this function with the auxiliar with as *follows* (to prevent the use of the close)
``` python
  with open("Example1.txt", "r") as f:
    file_stuff = f.read()
    print(file_stuff)
```

In [1]:
import requests
## Getting an external file:
URL = "https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-cyber-data-alchemist/main/stuff.txt"
response = requests.get(URL)
open("stuff.txt", "wb").write(response.content)

# opening the file:
with open("./stuff.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

# and now just read first and second line:
with open("./stuff.txt", "r") as f:
  file_stuff = f.readlines(10)
  print(file_stuff)

  file_stuff = f.readlines(10)
  print(file_stuff)

mambru
se fue a la guerra
que dolor, que dolor, que pena
mambru se fue a la guerra
no s√© cuando vendra

['mambru\n', 'se fue a la guerra\n']
['que dolor, que dolor, que pena\n']

### Lab: Reading Files with Open

In [2]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

('Example1.txt', <http.client.HTTPMessage at 0x7fb7b2ddb550>)

In [3]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [4]:
# Print the path of file

file1.name

'Example1.txt'

In [5]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [6]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [7]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [8]:
# Close file after finish

file1.close()

In [9]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [10]:
# Verify if the file is closed

file1.closed

True

In [11]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [12]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [13]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [14]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [15]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [16]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [17]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [18]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [19]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [20]:
# Print the third line

FileasList[2]

'This is line 3'

### Notes: Writing Files with Open
After we create an object with open, we can pass the parameter "w" after the path to bea ble to write, for this we need to use the write() method that pass a string to the file.

We can write lists with this, each write will go to different lines.

If instead of "w" we pass the "a" then we can append to an existing file instead of recreating that file.

When combining the "r" and the "w" (or "append") we can use one file to write to another file, this is helpful for creating copies and other stuff.

In [21]:
# Example: writting an array to a file
lines =["Hello\n", "World\n", ":)"]
with open("./newfile.txt", "w") as f:
  for line in lines:
    f.write(line)

# Then let's see if file contains that:
with open("./newfile.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

# now let's create a copy of this file:
with open("./newfile.txt", "r") as f1:
  with open("./newfile2.txt", "w") as f2:
    for line in f1:
      f2.write(line)
    f2.write("and this is a new line!!")

print("\n --- \n")

# Then let's see if file contains that:
with open("./newfile2.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

Hello
World
:)

 ---

Hello
World
:)and this is a new line!!

### Lab: Writing Files with Open

In [22]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [23]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [24]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [25]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [26]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [27]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [28]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [29]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [30]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [31]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

In [32]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [33]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

In [34]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [35]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [36]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [37]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [38]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open(currentMem, "r+") as wf:
      with open(exMem, "a+") as af:
        wf.seek(0)
        members = wf.readlines()
        header = members[0]
        members.pop(0)

        inactive = [m for m in members if ('no' in m)]
        wf.seek(0)
        wf.write(header)
        for m in members:
          if (m in inactive):
            af.write(m)
          else:
            wf.write(m)
        wf.truncate()
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    99186      2019-6-22    yes
    56419      2017-11-4    yes
    62273      2016-1-11    yes
    38214      2017-9-3     yes
    95096      2019-11-19   yes
    71168      2015-4-20    yes
    88968      2019-2-14    yes
    88298      2016-4-4     yes
    24601      2016-6-14    yes
    10292      2015-3-1     yes
    91290      2018-2-11    yes
    75615      2015-6-14    yes

Inactive Members:


Membership No  Date Joined  Active
    17356      2020-11-21   no
    74170      2015-1-17    no
    28378      2019-3-5     no
    56213      2020-7-13    no
    74585      2018-1-19    no
    64245      2018-1-11    no
    10529      2017-10-5    no
    74484      2016-2-1     no
    74585      2017-7-20    no
    54883      2015-4-10    no
    28819      2017-3-10    no

In [39]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

### Notes: Loading Data with Pandas
One of the most popular libraries in Data Analysis is pandas, we can call it with the following command:
``` python
import pandas as pd
```
the "as pd" is convention but not mandatory.

One of the most popular ways to use pandas is to use the method: read_csv or read_xlsx with a path file.

``` python
import pandas as pd
csv_path = "file1.csv"
df = pd.read_csv(csv_path)
```

Pandas use the objet "DataFrame" that use a tabular form of rows (data points) and columns (variables). These DataFrames can also be created through dictionaries with the method pd.DataFrame(dict). Another way to create dataframes is by creating empty ones by passing a list inside square brackets.

DataFrames have methods to access particular fields like .ix(), .iLoc(), etc; this can also be used to create sub DataFrames of the DataFrame.

In [40]:
import pandas as pd
# Example of a DataFrame from a dictionary:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

### Lab: Loading Data with Pandas

In [41]:
# let us import the Pandas Library
import pandas as pd

In [42]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [43]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [44]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [45]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

In [46]:
dict_1 = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df = pd.DataFrame(dict_1)
df

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

In [47]:
df[['Marks']]

  Marks
0    85
1    72
2    89
3    76

In [48]:
df[['Country', 'Course']]

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [49]:
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

df = pd.DataFrame(x)

In [50]:
# Get the Name column as a series Object

x = df['Name']
x

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

In [51]:
#check the type of x
type(x)

pandas.core.series.Series

In [52]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [53]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [54]:
df2=df
df2=df2.set_index("Name")

In [55]:
# Access the column using the name

df.loc[0, 'Salary']

100000

In [56]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [57]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

In [58]:
df2.loc['Jane', 'Department']

'Design Team'

In [59]:
df2.iloc[3,2]

60000

In [60]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [61]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

In [62]:
df.loc[2:3,'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure

### Notes: Working with and Saving Data with Pandas
Other method in DataFame is .unique() that returns the unique elements; this is useful when we want to get the unique elements of one DataFrame with millions of rows to get a new one with only the unique values.

Other way to work with Pandas is the usage of slice conditions with booleans, everytime we take one column, we can use that column and compare their results with a comparisson that returns a boolean vector. For example:

``` python
df1 = df[df['Released']] >= 1980 ]
```
Once we use these methods we might want to save it; pandas, among other methods, has a to_csv() that creates a new csv file (but there are a lot of others!! like to_sql, quite helpful)

In [63]:
## Example, slicing random data
import numpy as np
import pandas as pd

# let's create a DataFrame with 1,000 rows in two columns with numbers between 0 and 1000.
df = pd.DataFrame(np.random.randint(0, 1000, size=(1000, 2)), columns=['col1', 'col2'])

# now let's create a new column that is the sum of the first two columns
df['col3'] = df.apply(lambda row: row['col1'] + row['col2'], axis=1)

# and now let's filter that by only those that are at or above 1000
df_2 = df[df['col3'] >= 1000]

# let's see how many rows and columns we have:
print(df_2.shape)

# and let's save the new fantastic DataFrame:
df_2.to_csv('df_2.csv')

(453, 3)

In [64]:
import pandas as pd
import requests
## Getting an external file:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
response = requests.get(URL)
open("TopSellingAlbums.csv", "wb").write(response.content)

df = pd.read_csv("TopSellingAlbums.csv")
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [65]:
import pandas as pd
import requests
## Getting an external file:
URL = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx"
response = requests.get(URL)
open("TopSellingAlbums.xlsx", "wb").write(response.content)
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [66]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [67]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [68]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [69]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [70]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [71]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [72]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [73]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [74]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [75]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [76]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [77]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [78]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]

In [79]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]

In [80]:
# Write your code below and press Shift+Enter to execute
q = df.iloc[1,2]

In [81]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object