<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-cyber-data-alchemist/blob/main/Copy_of_actividad_de_semana_3_1_python_for_data_science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IBM: PY0101EN Python for Data Science
---
> On this notebook the exercises, practices and follow up from the module 4 will be reviewed. This serves as a demonstrantion and an exercise for the Data Science Class (TC4029) of the MNA Master's degree program of the ITESM and is created by A01793023 - Jorge Luis Arroyo Chavelas. For questions, please reach out to A01793023@tec.mx

## Module 4 Working with Data in Python
---

### Notes: Reading Files with Open
We can use the open in-built function to `open` files. This function takes an argument as a string that is the path to the file we want to read  a local file. A second parameter can be passed to determine if we want to read, or read/write the file.

This instance a class with the properties, name, mode and methods like read() (all lines) or readline(n) for an specific number of characters.

Usually we refer to this function with the auxiliar with as *follows* (to prevent the use of the close)
``` python
  with open("Example1.txt", "r") as f:
    file_stuff = f.read()
    print(file_stuff)
```

In [ ]:
import requests
## Getting an external file:
URL = "https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-cyber-data-alchemist/main/stuff.txt"
response = requests.get(URL)
open("stuff.txt", "wb").write(response.content)

# opening the file:
with open("./stuff.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

# and now just read first and second line:
with open("./stuff.txt", "r") as f:
  file_stuff = f.readlines(10)
  print(file_stuff)

  file_stuff = f.readlines(10)
  print(file_stuff)

mambru
se fue a la guerra
que dolor, que dolor, que pena
mambru se fue a la guerra
no s√© cuando vendra

['mambru\n', 'se fue a la guerra\n']
['que dolor, que dolor, que pena\n']

### Lab: Reading Files with Open

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

('Example1.txt', <http.client.HTTPMessage at 0x7f09b2500e10>)

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'Example1.txt'

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file is closed

file1.closed

True

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the third line

FileasList[2]

'This is line 3'

### Notes: Writing Files with Open
After we create an object with open, we can pass the parameter "w" after the path to bea ble to write, for this we need to use the write() method that pass a string to the file.

We can write lists with this, each write will go to different lines.

If instead of "w" we pass the "a" then we can append to an existing file instead of recreating that file.

When combining the "r" and the "w" (or "append") we can use one file to write to another file, this is helpful for creating copies and other stuff.

In [ ]:
# Example: writting an array to a file
lines =["Hello\n", "World\n", ":)"]
with open("./newfile.txt", "w") as f:
  for line in lines:
    f.write(line)

# Then let's see if file contains that:
with open("./newfile.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

# now let's create a copy of this file:
with open("./newfile.txt", "r") as f1:
  with open("./newfile2.txt", "w") as f2:
    for line in f1:
      f2.write(line)
    f2.write("and this is a new line!!")

print("\n --- \n")

# Then let's see if file contains that:
with open("./newfile2.txt", "r") as f:
  file_stuff = f.read()
  print(file_stuff)

Hello
World
:)

 ---

Hello
World
:)and this is a new line!!

### Lab: Writing Files with Open

In [ ]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [ ]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open(currentMem, "r+") as wf:
      with open(exMem, "a+") as af:
        wf.seek(0)
        members = wf.readlines()
        header = members[0]
        members.pop(0)

        inactive = [m for m in members if ('no' in m)]
        wf.seek(0)
        wf.write(header)
        for m in members:
          if (m in inactive):
            af.write(m)
          else:
            wf.write(m)
        wf.truncate()
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    44029      2015-4-1     yes
    10501      2015-7-25    yes
    17714      2020-11-6    yes
    86609      2020-9-2     yes
    61478      2017-6-17    yes
    50583      2020-6-16    yes
    43804      2017-4-21    yes
    14428      2016-4-10    yes
    13665      2020-4-8     yes
    79528      2019-11-16   yes
    69880      2019-5-16    yes
    85420      2017-11-1    yes

Inactive Members:


Membership No  Date Joined  Active
    29362      2018-7-7     no
    60640      2017-2-5     no
    47375      2015-5-19    no
    43912      2016-2-8     no
    99016      2018-11-5    no
    15602      2018-1-21    no
    82851      2019-9-19    no
    63800      2017-8-24    no
    48057      2017-5-1     no
    97393      2020-10-18   no
    47437      2020-10-24   no

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

### Notes: Loading Data with Pandas
One of the most popular libraries in Data Analysis is pandas, we can call it with the following command:
``` python
import pandas as pd
```
the "as pd" is convention but not mandatory.

One of the most popular ways to use pandas is to use the method: read_csv or read_xlsx with a path file.

``` python
import pandas as pd
csv_path = "file1.csv"
df = pd.read_csv(csv_path)
```

Pandas use the objet "DataFrame" that use a tabular form of rows (data points) and columns (variables). These DataFrames can also be created through dictionaries with the method pd.DataFrame(dict). Another way to create dataframes is by creating empty ones by passing a list inside square brackets.

DataFrames have methods to access particular fields like .ix(), .iLoc(), etc; this can also be used to create sub DataFrames of the DataFrame.

In [ ]:
import pandas as pd
# Example of a DataFrame from a dictionary:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

### Lab: Loading Data with Pandas

### Notes: Working with and Saving Data with Pandas